@import "@/styles/variables";

.button {
  cursor: pointer;

  display: inline-block;

  box-sizing: border-box;
  padding: 10px;

  font-size: 14px;
  text-align: center;

  border: none;
  border-radius: 5px;

  transition: all 200ms;
}

.primary {
  color: $white;
  background-color: $primary;
}

.primary:hover {
  background-color: $primary-hover;
}

.ghost {
  color: $black;
  background: none;
  border: 1px solid $gray-light;
}

.ghost:hover {
  color: $white;
  background-color: $primary;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2s;
}

.primary svg,
.ghost:hover svg {
  fill: $white;
}
