@import "@/styles/variables";

.skipLink {
  position: fixed;
  top: 0;
  left: 100px;

  overflow: hidden;
  display: block;

  height: 0;

  color: $white;

  background: $primary;
}

.displayed {
  height: auto;
}
