@import "@/styles/variables";

.firstLevel {
  cursor: pointer;

  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;

  margin-top: 20px;
  padding: 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;

  background: none;
  border: none;
}

.firstLevelList {
  padding: 0;
  list-style: none;
}

.firstLevelActive,
.firstLevel:hover {
  color: $primary;
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: $primary;
}

.secondLevel {
  cursor: pointer;

  margin-bottom: 10px;
  padding: 0;

  font-size: 12px;
  font-weight: 300;
  color: $gray-dark;
  text-transform: uppercase;

  background: none;
  border: none;
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding: 0 0 0 32px;

  list-style: none;

  border-left: 1px solid #dfdfdf;
}

.secondLevelBlock {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.thirdLevel {
  cursor: pointer;

  display: block;

  margin-bottom: 10px;
  margin-left: 5px;

  font-size: 14px;
  font-weight: 500;
  color: $gray-dark;

  outline-offset: -1px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: $primary;
}

.AccordionContent {
  overflow: hidden;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}
