@import "@/styles/variables";

.tag {
  display: inline-block;

  box-sizing: border-box;
  margin: 3px;
  padding: 5px 10px;

  border-radius: 20px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid $gray-light;
}

.red {
  font-weight: bold;
  color: $white;
  background: #de0000;
}

.grey {
  font-weight: bold;
  color: $white;
  background: #b3c0d9;
}

.green {
  font-weight: bold;
  color: $green;
  background: $green-light;
}

.primary {
  color: $primary;
  background: none;
  border: 1px solid $primary;
}
