$black: #3b434e;
$gray-light: #ebebeb;
$gray: #a4a4a4;
$white: white;
$primary: #7653fc;
$primary-hover: #6757ac;
$red: #fc836d;
$red-light: #fea291;
$green: #1dc37e;
$gray-dark: #787d85;
$green-light: #c8f8e4;
$font-family: "Noto Sans KR", sans-serif;
